{
  "name": "thaiidc",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pages/about.pug",
      "imports": [
        "includes/layout.pug",
        "includes/commons/loginModal.pug"
      ]
    },
    {
      "path": "pages/index.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/footer.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/test.pug",
      "imports": [
        "includes/layout.pug",
        "includes/commons/loginModal.pug"
      ]
    },
    {
      "path": "scss/main.scss",
      "imports": [
        "scss/core/core.scss",
        "scss/core/_reset.scss",
        "scss/core/_fonts.scss",
        "scss/core/_variables.scss",
        "scss/core/_mixins.scss",
        "scss/core/_helper.scss",
        "scss/core/_hamburger.scss",
        "scss/core/_modal.scss",
        "scss/core/_commons.scss",
        "scss/core/types/_3dx.scss",
        "scss/core/types/_3dx-r.scss",
        "scss/core/types/_3dy.scss",
        "scss/core/types/_3dy-r.scss",
        "scss/core/types/_3dxy.scss",
        "scss/core/types/_3dxy-r.scss",
        "scss/core/types/_arrow.scss",
        "scss/core/types/_arrow-r.scss",
        "scss/core/types/_arrowalt.scss",
        "scss/core/types/_arrowalt-r.scss",
        "scss/core/types/_arrowturn.scss",
        "scss/core/types/_arrowturn-r.scss",
        "scss/core/types/_boring.scss",
        "scss/core/types/_collapse.scss",
        "scss/core/types/_collapse-r.scss",
        "scss/core/types/_elastic.scss",
        "scss/core/types/_elastic-r.scss",
        "scss/core/types/_emphatic.scss",
        "scss/core/types/_emphatic-r.scss",
        "scss/core/types/_minus.scss",
        "scss/core/types/_slider.scss",
        "scss/core/types/_slider-r.scss",
        "scss/core/types/_spin.scss",
        "scss/core/types/_spin-r.scss",
        "scss/core/types/_spring.scss",
        "scss/core/types/_spring-r.scss",
        "scss/core/types/_stand.scss",
        "scss/core/types/_stand-r.scss",
        "scss/core/types/_squeeze.scss",
        "scss/core/types/_vortex.scss",
        "scss/core/types/_vortex-r.scss"
      ]
    },
    {
      "path": "scss/core/core.scss",
      "imports": [
        "scss/core/_fonts.scss",
        "scss/core/_variables.scss",
        "scss/core/_mixins.scss",
        "scss/core/_helper.scss",
        "scss/core/_hamburger.scss",
        "scss/core/types/_3dx.scss",
        "scss/core/types/_3dx-r.scss",
        "scss/core/types/_3dy.scss",
        "scss/core/types/_3dy-r.scss",
        "scss/core/types/_3dxy.scss",
        "scss/core/types/_3dxy-r.scss",
        "scss/core/types/_arrow.scss",
        "scss/core/types/_arrow-r.scss",
        "scss/core/types/_arrowalt.scss",
        "scss/core/types/_arrowalt-r.scss",
        "scss/core/types/_arrowturn.scss",
        "scss/core/types/_arrowturn-r.scss",
        "scss/core/types/_boring.scss",
        "scss/core/types/_collapse.scss",
        "scss/core/types/_collapse-r.scss",
        "scss/core/types/_elastic.scss",
        "scss/core/types/_elastic-r.scss",
        "scss/core/types/_emphatic.scss",
        "scss/core/types/_emphatic-r.scss",
        "scss/core/types/_minus.scss",
        "scss/core/types/_slider.scss",
        "scss/core/types/_slider-r.scss",
        "scss/core/types/_spin.scss",
        "scss/core/types/_spin-r.scss",
        "scss/core/types/_spring.scss",
        "scss/core/types/_spring-r.scss",
        "scss/core/types/_stand.scss",
        "scss/core/types/_stand-r.scss",
        "scss/core/types/_squeeze.scss",
        "scss/core/types/_vortex.scss",
        "scss/core/types/_vortex-r.scss"
      ]
    },
    {
      "path": "scss/core/_hamburger.scss",
      "imports": [
        "scss/core/types/_3dx.scss",
        "scss/core/types/_3dx-r.scss",
        "scss/core/types/_3dy.scss",
        "scss/core/types/_3dy-r.scss",
        "scss/core/types/_3dxy.scss",
        "scss/core/types/_3dxy-r.scss",
        "scss/core/types/_arrow.scss",
        "scss/core/types/_arrow-r.scss",
        "scss/core/types/_arrowalt.scss",
        "scss/core/types/_arrowalt-r.scss",
        "scss/core/types/_arrowturn.scss",
        "scss/core/types/_arrowturn-r.scss",
        "scss/core/types/_boring.scss",
        "scss/core/types/_collapse.scss",
        "scss/core/types/_collapse-r.scss",
        "scss/core/types/_elastic.scss",
        "scss/core/types/_elastic-r.scss",
        "scss/core/types/_emphatic.scss",
        "scss/core/types/_emphatic-r.scss",
        "scss/core/types/_minus.scss",
        "scss/core/types/_slider.scss",
        "scss/core/types/_slider-r.scss",
        "scss/core/types/_spin.scss",
        "scss/core/types/_spin-r.scss",
        "scss/core/types/_spring.scss",
        "scss/core/types/_spring-r.scss",
        "scss/core/types/_stand.scss",
        "scss/core/types/_stand-r.scss",
        "scss/core/types/_squeeze.scss",
        "scss/core/types/_vortex.scss",
        "scss/core/types/_vortex-r.scss"
      ]
    },
    {
      "path": "pages/knowledge.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/knowledge-trend.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/knowledge-video.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/knowledge-detail.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/fine-designer.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug"
      ]
    },
    {
      "path": "pages/find-designer.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/find-designer-detail.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug"
      ]
    },
    {
      "path": "pages/find-designer-list.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/search-profile.pug",
        "includes/commons/profile-card.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/profile.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/footer.pug",
        "includes/commons/editProfileModal.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug"
      ]
    },
    {
      "path": "pages/profile-pageme.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/footer.pug",
        "includes/commons/editProfileModal.pug",
        "includes/commons/editPortfolioModal.pug",
        "includes/commons/editProductModal.pug",
        "includes/commons/editArticleModal.pug",
        "includes/commons/editIdeaModal.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug"
      ]
    },
    {
      "path": "pages/find-producer.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/find-producer.1.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/find-producer-list.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/search-producer.pug",
        "includes/commons/producer-card.pug",
        "includes/footer.pug",
        "includes/commons/producerModal.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/find-supplier.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/find-supplier-list.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/search-producer.pug",
        "includes/commons/supplier-card.pug",
        "includes/footer.pug",
        "includes/commons/supplierModal.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/new-event.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/news-detail.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/news.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/news-event.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/news-exhibition.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/agency.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/training.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/commons/paginage.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/training.1.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/counseling.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    },
    {
      "path": "pages/contact.pug",
      "imports": [
        "includes/layout.pug",
        "includes/header.pug",
        "includes/commons/search-inside.pug",
        "includes/footer.pug",
        "includes/commons/loginModal.pug",
        "includes/commons/createPageModal.pug",
        "includes/commons/editProfileModal.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7892,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"relative\":\"../\"},\"outputSuffix\":null}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}